
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="box artifact">
            <h3 class="title">@Model.Ign</h3>
            <img class="image avatar" src="~/images/characters/@(Model.Profile_Picture).png" style="border: 5px solid black;">
            <div class="text">
                <ul class="wielders_ul">
                    <li>UID: @Model.Id</li>
                    <li>Adventure Rank: @Model.Adventure_Rank</li>
                    <li>World Level: @Model.World_Level</li>
                    <li>Razor, Chongyun, Bennett, Zhongli, Venti, Mona, Ningguang</li>
                </ul>
                <br />
            </div>
        </div>
    </div>
</div>
