USE [Genshin]
GO
/****** Object:  Table [dbo].[Artifact_Sets]    Script Date: 12/05/2021 19:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artifact_Sets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SET_NAME] [varchar](50) NULL,
	[MAX_RARITY] [int] NULL,
	[TWO_PIECE_BONUS] [varchar](500) NULL,
	[FOUR_PIECE_BONUS] [varchar](500) NULL,
	[IMAGE] [varchar](500) NULL,
 CONSTRAINT [PK_Artifact_Sets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 12/05/2021 19:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[CHARACTER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHARACTER_NAME] [varchar](50) NOT NULL,
	[WEAPON] [varchar](50) NOT NULL,
	[ELEMENT] [varchar](50) NOT NULL,
	[RARITY] [int] NOT NULL,
	[BIRTHDAY] [varchar](50) NOT NULL,
	[SEIYUU] [varchar](50) NOT NULL,
	[REGION] [varchar](50) NOT NULL,
	[CHARACTER_DESCRIPTION] [varchar](500) NOT NULL,
	[IMAGE_SMALL] [varchar](500) NULL,
	[IMAGE_BIG] [varchar](500) NULL,
	[TITLE] [varchar](100) NULL,
	[ORGANIZATION] [varchar](50) NULL,
	[CONSTELLATION] [varchar](50) NULL,
	[PRIMARY_ATTRIBUTE] [varchar](50) NULL,
	[GENDER] [varchar](10) NULL,
	[BODYTYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CHARACTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weapons]    Script Date: 12/05/2021 19:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weapons](
	[weapon_id] [int] IDENTITY(1,1) NOT NULL,
	[weapon_name] [varchar](50) NOT NULL,
	[base_atk] [int] NOT NULL,
	[sub_stat_name] [varchar](50) NULL,
	[sub_stat_value] [float] NULL,
	[weapon_effect] [varchar](500) NULL,
	[weapon_image] [varchar](500) NULL,
	[rarity] [int] NULL,
	[weapon_type] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artifact_Sets] ON 

INSERT [dbo].[Artifact_Sets] ([ID], [SET_NAME], [MAX_RARITY], [TWO_PIECE_BONUS], [FOUR_PIECE_BONUS], [IMAGE]) VALUES (1, 'Adventurer', 3, 'Max HP increased by 1,000.', 'Opening chest regenerates 30% Max HP over 5s.', 'https://www.gensh.in/fileadmin/Database/Artifacts/adventurer01_AdventurersFlower.png')
INSERT [dbo].[Artifact_Sets] ([ID], [SET_NAME], [MAX_RARITY], [TWO_PIECE_BONUS], [FOUR_PIECE_BONUS], [IMAGE]) VALUES (2, 'Archaic Petra', 5, '
Gain a 15% Geo DMG Bonus.', 'Upon obtaining an Elemental Shard created through a Crystallize Reaction, all party members gain a 35% DMG Bonus for that particular element for 10s. Only one form of Elemental DMG Bonus can be gained in this manner at any one time.', 'https://www.gensh.in/fileadmin/Database/Artifacts/archaicPetra01_FlowerOfCrevicedCliff.png')
INSERT [dbo].[Artifact_Sets] ([ID], [SET_NAME], [MAX_RARITY], [TWO_PIECE_BONUS], [FOUR_PIECE_BONUS], [IMAGE]) VALUES (3, 'Berserker', 4, 'CRIT Rate +12%
', 'When HP is below 70%, CRIT Rate increases by an additional 24%.', 'https://www.gensh.in/fileadmin/Database/Artifacts/berserker01_BerserkersRose.png')
SET IDENTITY_INSERT [dbo].[Artifact_Sets] OFF
GO
SET IDENTITY_INSERT [dbo].[Characters] ON 

SET IDENTITY_INSERT [dbo].[Characters] OFF
GO
SET IDENTITY_INSERT [dbo].[Weapons] ON 

INSERT [dbo].[Weapons] ([weapon_id], [weapon_name], [base_atk], [sub_stat_name], [sub_stat_value], [weapon_effect], [weapon_image], [rarity], [weapon_type]) VALUES (1, 'Dull Blade', 23, NULL, NULL, NULL, 'https://www.gensh.in/fileadmin/Database/Weapons/Sword/1_dull_blade.jpg', 1, 'Sword')
INSERT [dbo].[Weapons] ([weapon_id], [weapon_name], [base_atk], [sub_stat_name], [sub_stat_value], [weapon_effect], [weapon_image], [rarity], [weapon_type]) VALUES (2, 'Silver Sword', 33, NULL, NULL, NULL, 'https://www.gensh.in/fileadmin/Database/Weapons/Sword/2_silver_sword.jpg', 2, 'Sword')
INSERT [dbo].[Weapons] ([weapon_id], [weapon_name], [base_atk], [sub_stat_name], [sub_stat_value], [weapon_effect], [weapon_image], [rarity], [weapon_type]) VALUES (3, 'Cool Steel', 39, 'ATK%', 7.7, 'Increases DMG against enemies affected by Hydro or Cryo by 12/15/18/21/24%.', 'https://www.gensh.in/fileadmin/Database/Weapons/Sword/3_cool_steel.jpg', 3, 'Sword')
GO
SET IDENTITY_INSERT [dbo].[Weapons] OFF
GO
