
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="big_box">
            <h3 class="title">ABOUT US</h3>
            <div class="text">
                <p>
                    We are 3 DAM 2nd year students, Patxi, Aritz and Pablo. The three of us play Genshin Impact frequently, and we team up together to beat some hard content. These are our friend codes and most used characters, in case if anyone wants to play with us:

                </p>
            </div>
        </div>
        <div class="box artifact">
            <h3 class="title">Patxi</h3>
            <img class="image avatar" src="~/images/characters/Razor.png" style="border: 5px solid #923bd4;" />
            <div class="text">
                <ul class="wielders_ul">
                    <li>UID: 703042332</li>
                    <li>In-Game Name: Patch</li>
                    <li>Adventure Rank: 55</li>
                    <li>World Level: 8</li>
                    <li>Characters: Razor, Chongyun, Bennett, Zhongli, Venti, Mona, Ningguang</li>
                </ul>
                <br />
            </div>
        </div>
        <div class="box artifact">
            <h3 class="title">Aritz</h3>
            <img class="image avatar" src="~/images/characters/Xiao.png" style="border: 5px solid #039e7a;" />
            <div class="text">
                <ul class="wielders_ul">
                    <li>UID: 701450320</li>
                    <li>In-Game Name: Railgun</li>
                    <li>Adventure Rank: 55</li>
                    <li>World Level: 8</li>
                    <li>Characters: Xiao, Razor, Zhongli, Qiqi, Jean</li>
                </ul>
            </div>
        </div>
        <div class="box artifact">
            <h3 class="title">Pablo</h3>
            <img class="image avatar" src="~/images/characters/Diluc.png" style="border: 5px solid #d43b3b" />
            <div class="text">
                <ul class="wielders_ul">
                    <li>UID: 704122319</li>
                    <li>In-Game Name: Pablo</li>
                    <li>Adventure Rank: 55</li>
                    <li>World Level: 8</li>
                    <li>Characters: Diluc, Zhongli, Ganyu, Bennett, Venti, Jean, Fischl</li>
                </ul>
                <br />
            </div>
        </div>
    </div>
</div>