@{
    ViewBag.Title = Model.Name;
    Layout = "../Shared/_Layout.cshtml";
}
<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="big_box">
            <p>@Model.Name</p>
            <img class="image fit" src="@Model.Image" />
        </div>
    </div>
</div>
