
@{
    ViewBag.Title = "Elements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="big_box">
            <h3 class="title">INTRODUCTION</h3>
            <div class="text">
                <p class="intro">
                    In the world of Teyvat — where the seven elements flow and converge — everyone can become one of the Archons (Gods).
                </p>
                <p>In the current state of Genshin Impact, there are seven elements to discover. The elements are the powers of the Archons themselves and being given to their wielders in form of a glass orb as a proof of recognition. Once given this power, the wielders are being called having "The Vision" in the world of Teyvat. </p>
            </div>
        </div>
        <div class="big_box">
            <div class="elem_div">
                <div class="elem_div_img"><img class="image" src="~/images/anemo.png" /><h3>ANEMO</h3></div>
                <div class="elem_div_img"><img class="image" src="~/images/cryo.png" /><h3>CRYO</h3></div>
                <div class="elem_div_img"><img class="image" src="~/images/dendro.png" /><h3>DENDRO</h3></div>
                <div class="elem_div_img"><img class="image" src="~/images/electro.png" /><h3>ELECTRO</h3></div>
                <div class="elem_div_img"><img class="image" src="~/images/geo.png" /><h3>GEO</h3></div>
                <div class="elem_div_img"><img class="image" src="~/images/hydro.png" /><h3>HYDRO</h3></div>
                <div class="elem_div_img"><img class="image" src="~/images/pyro.png" /><h3>PYRO</h3></div>
            </div>
        </div>
        <div class="charac_data_box">
            <h3 class="title">CHAIN REACTIONS</h3>
            <div class="text">
                <p>
                    When two elements meet each other, it car trigger an elemental reaction. If you saw enemy already afflicted by an element, attack them with other element to unleash elemental reaction! Proper use of elemental reaction is the key to defeat enemy efficiently.
                    <br /><br />
                    Elemental reaction also can be used to interact with enviroment at Teyvat. You can use it save energy and time while travelling across the world of Teyvat.
                </p>
            </div>
        </div>
        <div class="charac_data_box">
            <h3 class="title">MEANINGS</h3>
            <div class="text">
                <p>These seven element names are derived from ancient Greek, whilist they mean the following in English:</p>
                <ul class="wielders_ul">
                    <li>Cryo » Ice</li>
                    <li>Dendro » Nature</li>
                    <li>Pyro » Fire</li>
                    <li>Hydro » Water</li>
                    <li>Anemo » Wind</li>
                    <li>Electro » Lightning</li>
                    <li>Geo » Earth</li>
                </ul>
            </div>
        </div>
        <div class="big_box" style="padding:5%;">
            <img class="image fit" src="~/images/Elemental_Reactions.jpg"/>
        </div>
    </div>
</div>

