
@{
    ViewBag.Title = "Genshin Impact FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="big_box">
            <h3 class="char-name big">FREQUENTLY ASKED QUESTIONS</h3>
            <div class="faq">

                <b>Is Genshin Impact a full-priced game?</b><br />
                No, right now, the official statement is that the game will be free to play. The Final Closed Beta introduced a payment Gacha system.
                <br />
                <br />
                <b>What type of game is Genshin Impact?</b><br />
                Genshin Impact is an Action Role Play Game (ARPG) with a cooperative mode (4p). It is not a MMORPG. Right now, there are no lobbys.
                <br />
                <br />
                <b>Does Genshin Impact has multiplayer functionaily?</b><br />
                Yes, up to 4 players. One has to be the host, there are no server sided lobbys/worlds.
                <br />
                <br />
                <b>Can the game be played offline?</b><br />
                No, as far as we know, this is a always online game.
                <br />
                <br />
                <b>On which platform will Genshin Impact be released?</b><br />
                So far, following systems has been announced: PlayStation 4 and 5, PC, Nintendo Switch, Google Android and Apple iOS.
                <br />
                <br />
                <b>What are the smartphone requirements for Genshin Impact?</b><br />
                The official requirements are Snapdragon 845 or Kirin 980 SoC or higher on Android and iPhone Model 7 or higher.<br />
                There are reports that it is smoothly playable on semi-medium a Snapdragon 730G. The performance on a Snapdragon 660 is very poor on low, but playable.
                <br />
                <br />
                <b>What are the Genshin Impact PC system requirements?</b><br />
                The official recommendation is a Intel i5 with 8GB RAM and a GTX 1050.<br />
                The information by the community is that the game runs smooth on most PCs with modern Dual-Core and a GeForce 760 (desktop) or GeForce 840M (mobile) as well as Radeon 7850 or higher.
                <br />
                <br />
                <b>Is the game playable with a controller on the PC version?</b><br />
                Yes, the game has official controller support (PS4, XBox).
                <br />
                <br />
                <b>Is cross-play available?</b><br />
                Yes. all platforms support crossplay.
                <br />
                <br />
                <b>Is cross-save available?</b><br />
                Yes, but only for PC/Android/iOS. PS4 will not have that feature.
                <br />
                <br />
                <b>PlayStation 4 players require PS Plus to play?</b><br />
                No. Genshin Impact does not require PS Plus to run on PlayStation.
                <br />
                <br />
                <b>How many playable characters are available?</b><br />
                The first announcement said there will be around 30 playable characters. As we currently know, that there will be many, many more... ;)
                <br />
                <br />
                <b>What language will the game be in?</b><br />
                The official dub will include: Chinese, Japanese, Korean and English.<br />
                The official sub will include: Chinese, English, French, German. Indonesian, Korean, Portugese, Russian, Spanish, Thai, Vietnamese
                <br />
                <br />
                <b>Will the game be monetized?</b><br />
                Yes. Genshin Impact is a "Gacha Game" which is a Loot Box System. Read more about the Gacha Rates here.
                <br />
                <br />
                <b>Does a official Discord exist?</b><br />
                Yes. https://discord.gg/GenshinImpact
                <br />
                <br />
                <b>Are there any connections between miHoYo's Honkai Impact and Genshin Impact?</b><br />
                We don't know yet. Previous games by miHoYo had multiverse characters but no real connection between them.<br />
                Update: miHoYo announced that there will be cross game references between Honkai Impact and Genshin Impact.
                <br /><br />
                <b>Who is the developer of the game?</b><br />
                The is developed by miHoYo Co. Ltd. and is based in Shanghai, China. They are also known for Houkai Gakuen and Honkai Impact.
                <br /><br />
                <b>Is Paimon edible?</b><br />
                No.
                <br />
            </div>
        </div>
    </div>
</div>
