
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="big_box">
            <h3 class="title">THE GAME</h3>
            <div class="text">
                <p>
                    Genshin Impact is an open-world action ARPG developed by miHoYo. Everything begins in a fantasy land named Teyvat, where the chosen ones have been granted Visions by the Archons and become able to wield the power of the seven elements. You, a mysterious traveler, is about to embark on epic adventures in this free world, where amazing friends with various abilities will join you along the way. They will help you fight intimidating enemies, find your lost kin, and unravel all the mysteries of the world of Genshin Impact.
                    <br /><br />
                    The game is officially announced for PC, PlayStation 4, Nintendo Switch, Android and iOS.
                </p>
            </div>
        </div>
        <div class="big_box">
            <h3 class="title">INTRO</h3>
            <div class="text">
                <p class="intro">
                    You awaken from the bitter cold with the expectation of a brave new world.<br />
                    However, the horror brought to your drowsy eyes is that of your sister/brother, chained and impaled...<br />
                    A foreign god descends from the skies and takes away your only kin.<br />
                    Try as you might, the god will not let you wake, and throws you into a slumber full of nightmares.<br />
                    When you come to, the world around you is not as you remember.<br />
                    How long have you been asleep? Years...?<br />
                    You embark on your journey alone, in search of the god who took everything from you...<br />
                </p>
                <p>And so, your adventure begins</p>
            </div>
        </div>
        <div class="charac_data_box">
            <h3 class="title">MAIN CHARACTERS</h3>
            <img class="image fit" src="https://www.gensh.in/fileadmin/Database/Characters/Traveller/travellers_mf.jpg" />
        </div>
        <div class="charac_data_box">
            <h3 class="title">OFFICIAL GAME TRAILER</h3>
            <div class="h_iframe">
                <iframe src="https://www.youtube.com/embed/lMdsrZ1otlA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
