
@{
    ViewBag.Title = "System Requirements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="big_box">
            <h3 class="title">SYSTEM REQUIREMENTS</h3>
            <div class="text">
                <p>
                    Genshin Impact has been released for PC, PlayStation 4 & 5, Android and iOS.

                    The minimum PC, Android and iOS requirements are as following:
                </p>
            </div>
        </div>
        <div class="box artifact">
            <h3 class="title">PC MINIMUM</h3>
            <div class="text">
                <ul class="wielders_ul">
                    <li>Operating System: Windows 7/8/10 64-bit</li>
                    <li>Processor: Intel Core i5 or equivalent</li>
                    <li>Memory: 8 GB RAM</li>
                    <li>Graphics Card: nVidia® GeForce® GT 1030 and higher</li>
                    <li>DirectX Version: 11 or higher</li>
                    <li>Storage: Please reserve 30 GB of space</li>
                </ul>
                <br />
            </div>
        </div>
        <div class="box artifact">
            <h3 class="title">PC RECOMMENDED</h3>
            <div class="text">
                <ul class="wielders_ul">
                    <li>Operating System: Windows 7/8/10 64-bit</li>
                    <li>Intel Core i7 equivalent or higher</li>
                    <li>Memory: 16 GB RAM</li>
                    <li>Graphics: nVidia GeForce GTX 1060 6 GB and higher</li>
                    <li>DirectX Version: 11 or higher</li>
                    <li>Storage: Please reserve 30 GB of space</li>
                </ul>
            </div>
        </div>
        <div class="box artifact">
            <h3 class="title">ANDROID MINIMUM</h3>
            <div class="text">
                <ul class="wielders_ul">
                    <li>Android O.S.: Android 7.0 or higher</li>
                    <li>Processor: 64 bit Arm v8a, similar or higher</li>
                    <li>Memory: 3 GB RAM</li>
                    <li>Storage: Please reserve 8 GB of space</li>
                </ul>
                <br />
            </div>
        </div>
        <div class="box artifact">
            <h3 class="title">ANDROID RECOMMENDED</h3>
            <div class="text">
                <ul class="wielders_ul">
                    <li>Android O.S.: Android 8.1 or higher</li>
                    <li>Processor: Qualcomm Snapdragon 845, Kirin 810, similar or higher</li>
                    <li>Memory: 3 GB RAM</li>
                    <li>Storage: Please reserve 8 GB of space</li>
                </ul>
                <br />
            </div>
        </div>

        <div class="box artifact">
            <h3 class="title">iOS RECOMMENDED</h3>
            <div class="text">
                <ul class="wielders_ul">
                    <li>iOS Version: iOS 9.0 or higher</li>
                    <li>
                        Models: iPhone 8 Plus or higher<br />
                        2nd generation iPad or higher
                    </li>
                    <li>Memory: 3 GB RAM</li>
                    <li>Storage: Please reserve 8 GB of space</li>
                </ul>
                <br />
            </div>
        </div>
    </div>
</div>
