@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
        <div class="big_box">
            <h3 class="char-name big">Error</h3>
            <div class="faq">
                @if (ViewBag.ErrorMessage != null)
                {
                    <p>@ViewBag.ErrorMessage.ToString()</p>
                    ViewBag.ErrorMessage = null;
                }
                else
                {
                    <p>An error has ocurred, try again</p>
                }
            </div>
        </div>
    </div>
</div>
